@font-face {
    font-family: 'Rimouski'; /* 폰트 이름 */
    src: url('/static/fonts/RimouskiSb-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rimouski'; /* 폰트 이름 */
    src: url('/static/fonts/RimouskiRg-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rimouski'; /* 폰트 이름 */
    src: url('/static/fonts/RimouskiRg-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Schoolbell';
    src: url('/static/fonts/Schoolbell-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* 기본적으로 body에 폰트 적용 */
body {
    font-family: 'Rimouski'; /* 기본 폰트 포함 */
}