@import url('/static/users/css/base.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rimouski';
}

body {
    display: flex;
    height: 100vh;
    background-color: #ffffff;
}

.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.right-container {
    flex: 1;
    display: flex;
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    align-items: center;
    justify-content: center;
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.logo img {
    width: 140px;
    margin-bottom: -10px;
    margin-top: 20px;
    cursor: pointer;
}

.logo h1 {
    font-size: 36px;
    color: #043635;
    margin-top: 10px;
}

.signin-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.2s;
}

input:focus {
    border-color: #0f865a;
    outline: none;
}

.button {
    background-color: #65CB9B;
    color: #09393D;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 3px solid #09393D;
    cursor: pointer;
    text-align: center;
    width: 100px;
    align-self: center;
    display: block;
}

.button:hover {
    text-decoration: underline;
    background-color: #ff8e51;
}

.footer {
    text-align: center;
    margin-top: 12px;
}

.footer a {
    color: #0f865a;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.clear-btn {
    position: absolute;
    right: 10px;
    top: 41px;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888;
}

.clear-btn:hover {
    color: #000;
}