@import url('/static/users/css/base.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rimouski';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; 
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 0px; 
}

.logo img {
    width: 140px;
    margin-bottom: -10px;
    margin-top: 20px;
    cursor: pointer;
}

.logo h1 {
    font-size: 36px;
    color: #043635;
    margin-top: 10px;
}

.container {
    background-color: #f0f0f0;
    border: 3px solid #000000;
    border-radius: 12px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    text-align: center;
    max-width: 480px;
    width: 100%;
}

.signup-form {
    /* display: flex; */
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.input-row {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.input-row-email {
    margin-top: 20px;
}

.input-row > div {
    flex: 1;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #0f865a;
    outline: none;
}

.button {
    display: inline-block;
    background-color: #65CB9B;
    color: #09393D;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 3px solid #09393D;
    cursor: pointer;
    margin-top: 30px;
    width: 120px;
}

.button:hover {
    text-decoration: underline;
    background-color: #ff8e51;
}

.footer {
    text-align: center;
    margin-top: 12px;
}

.footer p {
    font-size: 14px;
    color: #555;
}

.footer a {
    color: #0f865a;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .go-back {
    display: block;
    margin-top: 10px;
    color: #555;
    font-size: 14px;
    cursor: pointer;
}