/* 로컬 폰트 정의 */
@font-face {
    font-family: 'Rimouski'; /* 폰트 이름 */
    /* src: url('/static/fonts/RimouskiLt-Regular.ttf') format('truetype'), */
         url('/static/fonts/RimouskiRg-Bold.ttf') format('truetype'),
         url('/static/fonts/RimouskiRg-Regular.ttf') format('truetype'),
         url('/static/fonts/RimouskiSb-Regular.ttf') format('truetype'),
         /* url('/static/fonts/RimouskiUl-Regular.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rimouski';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #ffffff;
    margin: 0; /* Ensure no margin for the body */
}

.container {
    width: calc(100% - 40px); /* Full width minus 20px margin on each side */
    height: calc(100% - 40px); /* Full height minus 20px margin on top and bottom */
    text-align: center;
    background: #ffffff;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    position: relative;
    padding: 20px; /* Optional: add padding inside the container */
}



.header {
    padding: 40px;
    background-color: #ffffff;
    position: relative;
}


.header a {
    position: absolute;
    top: 20px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}



.header a {
position: absolute;
top: 20px;
font-size: 14px;
color: #333;
text-decoration: none;
}


.header a.signup {
right: 110px; 
top: 27px;
cursor: pointer;
}

.header a.login {
right: 20px;
background-color: #000000; 
color: #ffffff;
padding: 8px 15px; 
border-radius: 5px; 
text-decoration: none;
cursor: pointer;
}



.logo img {
    width: 165px;
    margin-bottom: -10px;
    margin-top: 20px;
    cursor: pointer;
}


.title {
    font-size: 50px;
    font-weight: bold;
    color:#043635;
    margin-bottom: 10px;
    margin-top: -60px;
    /* font-family: 'Poppins', sans-serif; */
}


.background-section {
    position: relative;
    padding: 100px 20px;
}


.overlay-text {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}

.button {
display: inline-block;
background-color: #65CB9B;
color: #09393D;
padding: 10px 20px;
border-radius: 30px;
font-size: 20px;
font-weight: bold;
text-decoration: none;
transition: background-color 0.3s;
border: 4px solid #09393D; 
cursor: pointer;
}
.button:hover {
    text-decoration: underline;
    background-color: #ff8e51;
}