<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frontpage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/frontpage.css' %}">
    <script src="{% static 'core/scripts/script.js' %}" defer></script>

</head>
<body>
    <div class="container">
       
        <div class="header">
            <a href="#" class="signup" onclick="NavigateTo('user/register')" >Sign up</a>
            <a href="#" class="login" onclick="NavigateTo('user/login')" >Log in</a>
            <div class="logo">
                <img src="{% static 'core/images/Logo.png' %}" 
                alt="MealMate Logo" 
                onclick = "NavigateTo('')">
            </div>
        </div>



        <div class="background-section"
        style="background-image: url('{% static 'core/images/Frontpage_Background.png' %}');">
            <h1 class="title">MealMate</h1>
                <p class="overlay-text">Get your own personalized <br> meal recommendation & recipes!</p>
                <a href="#" class="button" onclick="NavigateTo('user/register')" >Get started! </a>
        </div>
    </div>
</body>
</html>

<script>
    function NavigateTo(path) {
        const baseUrl = `${window.location.protocol}//${window.location.host}/`;
        window.location.href = baseUrl + path;
    }
</script>
