<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Recipes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">
    {% load time_filters %}

</head>
<body>
    <header class="explore-header">
        <div class="logo">
            <a href="{% url 'main' %}">
                <img src="{% static 'core/images/Logo.png' %}" alt="Logo">
            </a>
            <h1 class="meal-mate-title">MealMate</h1>
        </div>
        <div class="user-actions">
            <a href="{% url 'change_options' %}" class="preferences">My Preferences</a>
            <button class="profile-button" onclick="window.location.href='{% url 'profile_details' %}'">
                <img src="{% static 'core/images/user.png' %}" alt="User Profile">
            </button>
        </div>
    </header>

    <main>
        <div class="instructions">
            Personalized, Randomized Meals Just for You.
        </div>

        <div class="search-bar">
            <form method="get" action="{% url 'main' %}">
                <input 
                    type="text" 
                    name="query" 
                    placeholder="Search your own keywords (e.g. Indian, pasta, spicy etc)." 
                    value="{{ search_query|default:'' }}">
                <button type="submit" name="button" value="filter">
                    <img src="{% static 'core/images/search.png' %}" alt="Search" class="button-image">
                </button>
                <!-- <button type="submit" name="button" value="filter">🔍</button> -->
            </form>
        </div>

        <div class="menu-items">
            {% if recipes|length == 0 %}
                <h2>No meals found.</h2>
            {% else %}
                {% for recipe in recipes %}
                    <div class="menu-item">
                        <a href="{% url 'recipe' pk=recipe.id %}">
                            <h3>{{ recipe.title }}</h3>
                            <h4 class="cooking-time">
                                Cooking time:
                                <span>{{ recipe.minutes|format_time }}</span>
                            </h4>                         
                            <h5 class="tags-container">
                                {% for tag in recipe.tags.all %}
                                    {% if tag.name not in 'time-to-make,technique,course,main-ingredient,cuisine,preparation,occasion,equipment' %}
                                        <span class="tag">{{ tag.name }}</span>
                                    {% endif %}
                                {% endfor %}
                            </h5>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </main>

</body>
</html>