<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Recipes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}">

</head>
<body>
    <header class="explore-header">
        <div class="logo">
            <a href="{% url 'main' %}">
                <img src="{% static 'core/images/Logo.png' %}" alt="Logo">
            </a>
            <h1 class="meal-mate-title">MealMate</h1>
        </div>
        <div class="search-bar">
            <form method="get" action="{% url 'main' %}">
                <input type="text" name="query" placeholder="Search, e.g. Indian, pasta, spicy etc.">
                <button type="submit" name="button" value="filter">🔍</button>
            </form>
        </div>
        <div class="user-actions">
            <a href="{% url 'change_options' %}" class="preferences">Preferences</a>
            <button class="profile-button" onclick="window.location.href='{% url 'profile_details' %}'">
                <img src="{% static 'core/images/Logo.png' %}" alt="User Profile">
            </button>
        </div>
    </header>

    <main>
        <div class="menu-items">
            {% for recipe in recipes %}
                <div class="menu-item">
                    <a href="{% url 'recipe' pk=recipe.id %}">
                        <h3>{{ recipe.title }}</h3>
                        <h4>
                            Cooking time:
                            {{ recipe.minutes }} min
                        </h4>
                        <h5>
                            {% for tag in recipe.tags.all %}
                                <span style="background-color: {{ tag_info.color }}; color: black; padding: 5px 8px; border-radius: 9px; display: inline-block; font-weight: 500;">
                                    {{ tag.name }}
                                </span>
                            {% endfor %}
                        </h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>