{% extends 'users/pref_base.html' %}

{% block title %}Budget{% endblock %}

{% block content %}
<div class="question-container">
    <h1>Q. What's your budget?</h1>
    <p class="subtitle">For one meal, one person.</p>

    <form id="budget-form" method="POST" action="{% url 'budget' %}" class="budget-form">
        {% csrf_token %}
        {% for budget in budgets %}
        <div class="option">
            <input type="radio" 
                   id="budget{{ forloop.counter }}" 
                   name="budget" 
                   value="{{ budget.id }}" 
                   {% if selected_budget and budget.id == selected_budget.id %}checked{% endif %}>
            <label for="budget{{ forloop.counter }}">
                {{ budget.name }} ({{ budget.min_value }}$ - {{ budget.max_value }}$)
            </label>
        </div>
        {% endfor %}
    </form>
    
    <div class="navigation-buttons">
        <a href="{% url 'health_concerns' %}" class="back-button">back</a>
        <a href="{% url 'diet' %}" class="skip-button">Skip</a>
        <a href="#" class="next-button" onclick="submitBudget(event)">Next</a>
    </div>


    <!-- Page Dots -->
    <div class="page-dots">
        <span class="dot"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>

<script>
    function submitBudget(event) {
        event.preventDefault();  // Prevent default anchor behavior

        // Select the form
        const form = document.getElementById('budget-form');

        if (!form) {
            console.error('Form not found!');
            return;
        }

        // Submit the form
        form.submit();
    }

</script>
{% endblock %}