{% extends 'users/pref_base.html' %}

{% block title %}Preferences on Dishes{% endblock %}

{% block content %}
<div class="question-container">
    <h1>Q. What's your preferences on dishes?</h1>
    <p class="subtitle">Any specific meals or ingredients that you really like</p>

    <!-- Input list container -->
    <div id="input-list-container" class="input-list-container">
        <div class="input-container">
            <input type="text" placeholder="Enter your preferences." class="health-input">
            <p class="warning-message"></p>
        </div>
    </div>

    <!-- Add Button -->
    <button class="add-button" onclick="addInputField()">+ Add</button>

    <div class="navigation-buttons">
        <a href="{% url 'diet' %}" class="back-button">Back</a>
        <a href="#" class="next-button" data-next-url="{% url 'done' %}" onclick="validateInputs(event)">Next</a>
        <a href="{% url 'done' %}" class="skip-button">Skip</a>
    </div>

    <!-- Page Dots -->
    <div class="page-dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot active"></span>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        setActiveDot(3); 
    });
</script>
{% endblock %}