{% extends 'users/profile_base.html' %}

{% block title %}Profile Details{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="main-content">
    <h2>Meal Rating History</h2>
    <div class="table-container">
        <table id="dishTable" class="display">
            <thead>
                <tr>
                    <th>Name of Meal</th>
                    <th>Rating</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for rating in ratings %}
                <tr>
                    <td>
                        <a href="{% url 'recipe' pk=rating.recipe.id %}">
                            {{ rating.recipe.title }}
                        </a>
                    </td>
                    <td>{{ rating.get_rating_display }}</td>
                    <td>{{ rating.date_rated|date:"Y-m-d H:i" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">You have not rated any meals yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
